body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    padding: 20px;
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input,
select {
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

input:focus,
select:focus {
    outline: 1px solid #3b7fbe;
}

button {
    border: none;
    padding: 16px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    background-color: #3b7fbe;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    flex-direction: column;
    display: none;
}

.hidden.show {
    display: flex;
}
